* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: #222;
    line-height: 1.6;
}

/* Navigation Styles */
nav {
    background-color: #17212b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
}

.logo {
    font: size 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a:hover {
    color: #f4f6f8;
    text-decoration: underline;
}

/* Main Content Styles */
main {
    max-width: 1100px;
    margin: auto;
    padding: 70px 30px;
}

/* Hero Section Styles */
.hero {
    background-color: #17212b;
    color: white;
    min-height: 450px;
    display: flex;
    align-items: center;
    padding: 60px 10%;
}

.hero-content {
    max-width: 650px;

}

.hero-label {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #66c2ff;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 50px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.hero-text {
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.hero-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #0056b3;
}

/* Section Styles - What is a PLC?*/
.what-is-a-plc {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 30px;
}

.what-is-a-plc h2 {
    font-size: 32px;
    margin-bottom: 15px;
}